body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #fa818141;
    margin: -10px;
    
  }
  nav{
    font-family: 'Times New Roman', Times, serif;
    
    float: inline-end;
    width: 102.7%;
    left: 5px;
    
    
  }

    
  
  img{
    width: 152px;
    position: fixed;
    top: 5px;
    right: 22px;
    height: auto;
    float: right;
    margin-left: 1px;
  
  }
  
  header {
    background-color: #5f5353;
    
    padding: 45px;
    text-align: left;
    
  }
    
    
  
  .container {
    text-align: left;
    margin: 10px;

  }

  h2{
    text-align: left;
    margin: 11px;
  }
  label{
    display: block;
    margin-bottom: 22px;
  }
  
  input,select {
    width: 10%;
    padding: 5px;
    margin-bottom: 10px;
    border: 20px solid   
   #ccc;
    border-radius: 2px;
  }
  button{
    background-color: #ff9800;
    color: rgb(62, 44, 44);
  padding: 5px 30px;
  position: fixed
  text-align center;
  text-decoration: none;
  display: inline-block;
  }

  footer{
    text-align: center;
    background-color: gray;
    padding: 15px;
    background-image: url("https://images.vexels.com/media/users/3/263264/isolated/preview/11a26a1102ca38d370338cf6a91459c4-icono-de-banco-de-negocio-de-dinero.png");
    background-repeat: no-repeat;
    

  }
  .form-container{
    width: 200px;
  margin: 0 auto;
  background-color:black;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  .form-container h2{
    text-align: center;
    color: #ff0000;
  }
  .form-container label {
    display: block;
    margin-bottom: 5px;
  }
  .form-container input,
.form-container select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 
 1px solid #ccc;
  border-radius: 4px;
}

.form-container button{
  background-color: #ff9800;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer
}

nav {
  background-color: #ffcc00;
  overflow: hidden;
}
nav ul {
  list-style-type: none;
  margin: -0  ;
  padding: 0;
display: flex;
justify-content: left;
}
nav li {
  float: left;
}
nav li a {
  display:
  block;
  color: #f80303;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
image {
  width: 152px;
    position: fixed;
    top: 5px;
    right: 22px;
    height: auto;
    float: right;
    margin-left: 1px;
  
}
.header {
 margin-right: 20px;
  
}
<!-- <header>
<div class="header">
<h1>BANCOOP</h1>

<div>
    <img src="https://img.freepik.com/vector-premium/construccion-bancos-diseno-dinero_24911-27563.jpg" alt="Bancoop" class="imagen">
    <p>Te ayuda a alcanzar y a cumplir tus metas</p>
</div>
<nav>
    <ul>
        <li><a href="#">Créditos</a></li>
        <li><a href="#">Leasing</a></li>
        <li><a href="#">Ahorros</a></li>
        <li><a href="#">Servicio al Cliente</a></li>

    </ul>
</nav>
</div>
</header> -->


<!-- <div class="container">
    <section id="Inicio de sesion">
    <h2>Inicio de sesion</h2>
    <form>
        <label $="Cuenta">Cuenta:</label>
        <input type="text" id="Cuenta"name="Cuenta" required>

        <label $="Tipo de cuenta">Tipo:</label>
        <select id="Seleccione tipo de cuenta"name="Seleccione tipo de cuenta">
        <option value="Personal">Personal</option>
        <option value="Empresarial">Empresarial</option>
        </select>

        <label $="Contrasena">Contraseña:</label>
        <input $="password" id="Contrasena" name="Contrasena" required>

        <button $="submit">Ingresar</button>
        
    </form>


    <section id="Transacciones">
        <h2>Transacciones</h2>
        <form>
            <label> Banca Personal</label>
            <label> Banca Empresarial</label>
            <label> Banca de Seguros</label>
            <label> Pago de Factura</label>
        </form>
    </section>

    <section id="Tarjetas">
        <h2>Tarjetas</h2>
        <form>
            <label>Credi-visa</label>
            <label>Credi-Mastercard</label>
        </form>
    </section>

        
</div>


    <footer>
        <head>
        <nav>

        </nav>
        <div class="container">
            <img2 src="https://img.freepik.com/vector-premium/construccion-bancos-diseno-dinero_24911-27563.jpg" alt="Bancoop" class="imagen">
        </div>
        <p>&copy;2023 Bancoop-Todos los derechos reservados.</p>
        <p>Contáctanos:<a href="juanpablorubiano1977@gmail.com">juanpablorubiano1977@gmail.com</a></p>
        
    </ul>
    <p>Dirección: calle 13b 22, Ciudad Cali</p>
</head>
    </footer> -->
    

